.bg-dark {
  background-color: #121212;
}

h1 {
  color: #ffc107;
}

p {
  color: #ddd;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning:hover {
  background-color: #e0ac00;
}